@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    height: 29.9rem;
    background-color: black;
    border: 1px solid #717377;
    padding: 2px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}

button {
    border: none;
    margin: 7px;
    margin-top: 1.2rem;
    height: 2.6rem;
    width: 3.8rem;
    padding: 5px;
    font-size: 20px;
    border-radius: 50%;
    background: transparent;
    color: white;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

input {
    height: 4rem;
    width: 19.3rem;
    background: linear-gradient(#AFF1DA, #BFF4BE);
    /* background: transparent; */
    border: none;
    padding: 24px;
    font-size: 40px;
    margin-left: 2px;
    margin-top: 50px;
    border-radius: 15px;
    color: black;
    text-align: right;
    cursor: pointer;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
}

button:active {
    background-color: black;
    color: white;
    border-radius: 50%;
}

.equal2 {
    background-color: orange;
}

.operator {
    color: green;
}